/*Efeitos de animação*/
.esconder{
    display: none;
    @include transition(0.2s all ease-out);
}

.animar{
    opacity: 0.1;
    transform: scale(0.8);
    @include transition(0.8s all ease);
}

.animar.fade-in{
    opacity: 1;
    transform: scale(1);
    @include transition(0.8s all ease);
}
  

@mixin verticalAnimation($timeAnimation:2s, $delay:0){
    animation-delay: $delay;
    animation: $timeAnimation cubic-bezier(0.55, 0.085, 0, 0.99)  animationVertical;
    transform: translateX(0);
    @keyframes animationVertical {
        0% {
        opacity: 0;
        transform: translateY(-10%);
        }
        100% {
        transform: translateY(0);
        }
    }

    @-webkit-keyframes animationVertical {
        0% {
        opacity: 1;
        }
        100% {
        transform: translateY(0);
        }
    }
}


.v-enter,
.v-leave-to {
  opacity: 0;
}

.v-enter {
  transform: translate3d(0, -20px, 0);
}

.v-leave-to {
  transform: translate3d(0, 20px, 0);
}

.v-enter-active,
.v-leave-active {
  transition: all 0.3s;
}

/*Efeitos de animação*/


@keyframes enterLeft {
  0%   { left:-100px; }
  50%  {left:0;}
}

@keyframes enterTop {
  0%   { top:-100px; }
  50%  {top:0;}
}

@keyframes enterBottom {
  0%   { bottom:-100px; }
  50%  {bottom:0;}
}