.blogFilter{
    color: $baseColor;
    .title{
        margin-bottom: 0;
    }

    ul{
        li{
            font-size: 16px;
            color: white;
            list-style: none;
            margin-bottom: 10px;
            padding: 5px 10px;
            display: block;
            width: fit-content;                
            cursor: pointer;
            @include transition();            
        }
    }   
}

.defaultFilter{
    ul{
        li{
            
            border: 1px solid $baseColor;
            color: $baseColor;
            &:hover{
                background-color: white;
                color: $golden;
                @include transition();
            }
        }
    }
}

.darkFilter, .card{
    ul{
        li{
            color: $lightBase;
            border: 1px solid $lightBase;
            &:hover{
                background-color: $lightBase;
                color: white;
                @include transition();
            }
        }
    }
}