.blogFilter{
    .columns {
        grid-template-columns: 2fr 1fr 1fr 1fr;    
        @include breakpoint(largeDesktops){       
            grid-template-columns: 1fr;         
        }
        margin: 40px auto;
    }

    ul{
        li{
            font-size: 16px;
            color: white;
            list-style: none;
            margin-bottom: 10px;
            padding: 5px 10px;
            display: block;
            width: fit-content;                
            cursor: pointer;
            @include transition();            
        }
    }   
}

.defaultFilter{
    ul{
        li{
            
            border: 1px solid white;
            &:hover{
                background-color: white;
                color: $baseColor;
                @include transition();
            }
        }
    }
}

.darkFilter, .card{
    ul{
        li{
            color: $lightBase;
            border: 1px solid $lightBase;
            &:hover{
                background-color: $lightBase;
                color: white;
                @include transition();
            }
        }
    }
}