@import 'variables.scss';
@import 'breakpoint.scss';
.blogFilter{
    color: $baseColor;
    padding-top: 50px;
    .title{
        margin-bottom: 0;
        #blog-title {
            position: relative;
            text-transform: none;
            &::after{
                content: '';
                background: url("../assets/svg/big-arrow.svg") no-repeat center;
                position: absolute;
                z-index: 2;
                height: 60px;
                width: 60px;
                background-size: contain;
                right: -100px;
                top: 50px;
                @include breakpoint(smartphones) {
                    display: none;
                }
                @include breakpoint(tablet-desktop) {
                    display: none;
                }
            }
        }
    }

    ul{
        li{
            font-size: 16px;
            color: white;
            list-style: none;
            margin-bottom: 10px;
            padding: 5px 10px;
            display: block;
            width: fit-content;                
            cursor: pointer;
            @include transition();         
        }
    }   
}
.filter-link {
    a {
        color: $baseColor;
        @include transition();
    }
    &:hover{
        background-color: white;
        a {
            color: white;
            @include transition();
        }
    }
}
.defaultFilter{
    ul{
        li{
            background-color: white;
            border: 1px solid $baseColor;
            color: $baseColor;
            &:hover{
                background-color: $baseColor;
                a {
                    color: white;
                    @include transition();
                }
            }
        }
    }
}

.darkFilter, .card{
    ul{
        li{
            color: $lightBase;
            border: 1px solid $lightBase;
            &:hover{
                background-color: $baseColor;
                a {
                    color: white;
                    @include transition();
                }
            }
        }
    }
}