@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins.scss';
@import '@/assets/scss/breakpoint.scss';
@import '@/assets/scss/cards.scss';

.blog{
    background-color: white;

    .section{
        max-width: 1600px;
        margin: 0 auto;
    }

    .bottom{
        .row{
            align-items: center;
        }
        margin-top: 20px;
    }
    
    .content{       
        margin-top: 60px;   
    }
    
}