@import 'variables.scss';
@import 'breakpoint.scss';

.feedblog{
    color: white;

    h2{
        b{
            font-weight: 100;
        }
    }

    h3{
        font-size: 20px;
        font-weight: bold;
        display: inline;
        position: relative;
        span{
            &::after{
              display: block;
              position: absolute;
              content: "";
              background-image: url("../assets/svg/line.svg");
              background-size: 100px;
              height: 1px;
              width: 40px;
              right:-60px;
              top: 10px;
              z-index: 9;
            }
          }
    }

    .bottom{      
        
        .col-md-4{       
            margin-top: 40px;  
            @include transition();

            &:hover{
                transform: scale3d(1.05, 1.05, 1);
                @include transition();
            }

            .top{
                width: 100%;
                z-index: 1;
                img{
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                    transform: scale3d(1, 1, 1);
                }

                &::after{
                    content: "";
                    width: 150px;
                    height: 150px;
                    position: absolute;
                    top: -10px;
                    right: 0px;
                    z-index: -1;
                    background: $golden;
                    background-size: 100px;

                    @include breakpoint(tablets){
                        display: none;
                    }
                }
            }
            .bottom{
                background-color: white;                    
                color: $baseColor;
                padding: 20px;

                h3{
                    display: block;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                    line-height: 30px;
                    @include breakpoint(fullHdDesktops) {
                        font-size: 23px;
                    }
                }
            }

            .signature{
                display: grid;
                grid-template-columns: 1fr 90px;
                align-items: center;
                .author{
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    align-items: center;
                    p{
                        padding: 10px;
                        line-height: 20px;
                        @include breakpoint(fullHdDesktops) {
                            font-size: 23px;
                        }
                    }
                    img{
                        border-radius: 50px;
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        display: grid;
                        
                    }
                }

                .views{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    span{
                        margin: 0 auto;
                    }
                    img{
                        width: auto;
                        height: 19px;
                        margin: 10px;
                        margin: 0 auto;
                    }
                }
            }
        }                
    }

    button{
        margin: 30px auto;
        display: block;
    }
}