@import '@/assets/scss/variables.scss';
@import '@/assets/scss/breakpoint.scss';
@import '@/assets/scss/mixins.scss';

.iframe {
  @include breakpoint(tablet-desktop) {
    iframe {
      position: unset !important;
    }
  }
  iframe {
    position: absolute;
    left: -40px;
    height: 443px;
    width: 708px;
    top: 75px;
    @include breakpoint(tablet-desktop) {
      width: 575px;
      height: 500px;
    }
    @include breakpoint(smartphones) {
      position: unset;
      height: 240px;
      width: 100%;
    }
    @include breakpoint(fullHdDesktops) {
      left: 77px;
      height: 553px;
      width: 881px;
      top: 93px;
    }
    @include breakpoint(largeDesktops-1280) {
      left: -64px;
    }
  }
}
#veja-mais {
  position: relative;
  top: -20px;
  @include breakpoint(smartphones) {
    top: 0;
  }
}
.square {
  &::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: $golden-dark;
    position: absolute;
    z-index: 1;
    right: -50px;
    bottom: 15px;
    transform: rotate(45deg);
    @include breakpoint(smartphones) {
      display: none;
    }
    @include breakpoint(fullHdDesktops) {
      bottom: 40px;
      height: 15px;
      width: 15px;
    }
  }
}
.square-pink {
  &::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: $pink-fsmall;
    position: absolute;
    z-index: 1;
    right: -50px;
    bottom: 15px;
    transform: rotate(45deg);
    @include breakpoint(smartphones) {
      display: none;
    }
    @include breakpoint(fullHdDesktops) {
      bottom: 40px;
      height: 15px;
      width: 15px;
    }
  }
}
#logos-field {
  margin-top: 220px;
  text-align: center;
  font-weight: 100;
  @include breakpoint(tablet-desktop) {
    margin-top: 0;
  }
  @include breakpoint(smartphones) {
    margin: 0;
    margin-top: 20px;
  }
  @include breakpoint(fullHdDesktops) {
    margin-top: 400px;
    p {
      font-size: 40px;
    }
  }
}
.list-item {
  position: relative;
  margin-right: 100px;
  cursor: pointer;
  img {
    object-fit: cover;
    filter: grayscale(1);
  }
  @include breakpoint(smartphones) {
    margin-right: 0;
    img {
      width: 100%;
      display: unset;
      height: unset;
    }
  }
  
  img {
    transition-duration: .5s;
    transform: scale(1);
    width: 100px;
    height: 50px;
    @include breakpoint(tablet-desktop) {
      width: 180px;
    }
    @include breakpoint(fullHdDesktops) {
      width: 160px;
      height: auto;
      margin-top: 30px;
    }
    &:hover {
      transform: scale(1.1);
      transition-duration: .5s;
    }
  }
}

#logos-clientes {
  display: inline-flex;
  padding-left: 100px;
  @include breakpoint(smartphones) {
    display: block;
    padding: 0;
  }
  @include breakpoint(tablet-desktop) {
    margin-top: 40px;
  }
}
.card-case {
  position: relative;
  margin-bottom: 100px;
  min-height: 435px;
  @include breakpoint(smartphones) {
    margin-bottom: unset;
    min-height: unset;
  }

  h2 {
    color: $golden-dark;
  }

  .img-notebook {
    position: absolute;
    width: auto;
    height: 650px;
    object-fit: cover;
    left: -135px;
    @include breakpoint(tablet-desktop) {
        display: none;
    }
    @include breakpoint(smartphones) {
      display: none;
    }
    @include breakpoint(fullHdDesktops) {
      height: 810px;
    }
  }
}

svg {
  fill: black !important;
}

.cases {
  background-color: white;
  .title {
    h2 {
      color: black;
    }
  }
}

.img-field, .content-client {
  transition-duration: .5s;
}
.overlay-video {
  position: absolute;
  left: -40px;
  height: 443px;
  width: 708px;
  top: 75px;
  z-index: 2;
  background-color: black;
}
.content-client {
  position: relative;
  .infos {
    position: absolute;
    top: 180px;
    left: -150px;

    @include breakpoint(tablet-desktop) {
      position: unset;
      img {
        margin: auto !important;
      }
    }

    @include breakpoint(smartphones) {
      img {
        margin: auto !important;
      }
    }

    @include breakpoint(tablet-desktop) {
      position: unset;
    }

    @include breakpoint(fullHdDesktops) {
      top: 45px;
    }

    img {
      width: 200px;
      height: 100px;
      object-fit: cover;
    }

    @include breakpoint(smartphones) {
      position: unset;
    }

    img {
      margin: 10px 0;
    }

    h2 {
      margin: 10px 0;
      @include fontSize(40px);
      font-weight: 300;
      @include breakpoint(tablets) {
        text-align: center;
      }
    }

    p {
      @include fontSize(25px);
      margin-top: 30px;
      line-height: 45px;
      font-weight: 100;
      @include breakpoint(tablets) {
        text-align: center;
      }
    }
  }
}