@import '@/assets/scss/variables.scss';
@import '@/assets/scss/breakpoint.scss';
@import '@/assets/scss/mixins.scss';

.card-case{
  .mockup{
    display: block;
    position: relative;
    width: 100%;
    max-width: 1200px;

    iframe{
      position: absolute;
      top: 0;
      bottom: 0;
      max-width: 100%;
      height: 79%;
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
      margin-top: 4%;
    }
  }
  .infos{
    img{
      max-width: 200px;
      margin-bottom: 30px;
      max-height: 70px;
    }
    h2{
      @include fontSize(42px);
      margin-bottom: 30px;
      color: $golden;
      font-weight: 600;

      @include breakpoint(hdDesktops){
        @include fontSize(32px);
      }
    }

    p{
      @include fontSize(22px);
      line-height: 40px;
      font-weight: 300;
    }

    @include breakpoint(smartphones){
      img{
        margin: 50px auto 30px auto;
      }
      h2, p{
        text-align: center;
      }

      h2{
        @include fontSize(25px);
        margin-bottom: 30px;
        color: $golden;
      }

    }
  }
}

.list-clients{
  p{
    text-align: center;
    margin: 50px auto 20px auto;
    text-transform: uppercase;
  }

  .list-item{
    img{
      max-width: 100%;
      height: auto;
      max-height: 40px;
      margin: 0 20px;
      cursor: pointer;
    } 

    &:last-child{
      &::before{
        display: none;
      }
    }

    &::before{
      display: block;
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      right: 0;
      top: 50%;
      z-index: 9;
      background-color: $golden;
      transform: rotate(45deg);

      @include breakpoint(tablets){
        display: none;
      }
    }
  }
}

.forSmall{
  .mockup{
    .infos{
      h2{
        color: $pink-fsmall;
      }
    }
  }
}