.cases{
    background: #f3f3f3;
    color: $baseColor;

    h3{
        max-width: 400px;
        margin-bottom: 40px;

        b{            
            font-weight: bold;
            color: $golden;
        }
    }

    h4{
        margin-top: 40px;
    }

    img{
        max-width: 200px;
    }

    p{
        max-width: 500px;
        margin-bottom: 40px;
    }

    .bottom{
        img{
            margin: 0 auto;
        }
    }

    .video{
        margin:0px;
        padding:0px;
        overflow:hidden;

        &::before{
            display: block;
            position: absolute;
            content: "";
            background-image: url("../assets/svg/cases-vetor-left.svg");
            height: 92px;
            width: 8px;
            left: -30px;
            top: 0;
            z-index: 9;
        } 

        iframe{
            overflow:hidden;
            height:500px;
            width:100%;           
        }
    }

    &::after{
        display: block;
        position: absolute;
        content: "";
        background-image: url("../assets/svg/cases-vetor-right.svg");
        height: 800px;
        width: 190px;
        right: 0;
        top: -74px;
        z-index: 9;
    }
}