@import "@/assets/scss/variables.scss";
@import '@/assets/scss/breakpoint.scss';
@import "@/assets/scss/mixins.scss";

.clients{
    color: $baseColor;
    background: white;
    @media (min-width: $tablets) {
        padding-top: 100px;
    }
    h1{
        text-align: center;
        font-weight: bold;
    }

    hr{
        border: 0.5px solid #dedede;
        margin-bottom: 40px;
    }

    .menu{
        margin: 40px auto 20px auto;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 10px;
       
        > [class*="col-"] {
            text-align: center;
        }

        
    }

    .active.tooltip{
        background-color: $lightBase;
        padding: 10px;
        border-radius: 4px;
        color: white;
    }

    .tooltip {
        position: relative;       
        cursor: pointer;
        padding: 10px;
        @include transition();

        &:hover{
            background-color: $lightBase;
            border-radius: 4px;
            color: white;
            @include transition();
        }
      }
      
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        @include transition();

        transition-property: opacity;
        transition-duration: 0.5s;
        transition-delay: 0.5s;
    }
    
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .logos{
        img{
            @include transition();
            margin: 25px auto;
            max-width: 190px;
            &:hover{
                transform: scale(1.05);
                @include transition();
            }
        }
    }

    .logoClient{
        position: absolute;
        opacity: 0;
        transform: scale(0);
    }

    .active.logoClient{
        position: relative;
        opacity: 1; 
        transform: scale(1);
        @include transition(800ms ease all);
    }
}

.clientsComponent{
    color: $baseColor;
    background-color: white;
    position: relative;

    .row{
        background: #f9f9f9;
    }

    button{
        margin: 0px auto 30px auto;
        position: relative;
        display: block;
    }

    p{
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
        opacity: 0.4;
        transform: scale(0.7);
    }

    .logos{
        img{
            margin: 40px auto;
            max-width: 120px;
            max-height: 70px;
            @include transition();
            transform: scale(1);

            &:hover{
                transform: scale(1.1);
                @include transition();
            }
        }
    }

    a{
        text-align: center;
        margin: 0 auto;
    }

    .counter{
        margin: 40px auto;
    }

    .count{
        position: relative;
        width: max-content;
        margin: 0px auto;
        color: $golden;
        opacity: 1;
        transform: scale(1);
        &::after{
            display: block;
            position: absolute;
            content: "+";
            background-size: cover;
            left: -30px;
            top: 0px;
            z-index: 9;
          }
    }
}