@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins.scss';
@import '@/assets/scss/breakpoint.scss';

.depoiments{
    color: $baseColor;
    background-color: #f3f3f3;
    // background-image: url("../assets/svg/graphism.svg");
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;

    text-align: center;

    &::before{
        display: block;
        position: absolute;
        content: "";
        background-image: url("../assets/svg/cases-vetor-right.svg");
        background-attachment: fixed;
        height: 860px;
        width: 140px;
        left: 0;
        top: 0px;
        z-index: 9;
        transform: rotate(180deg);

        @include breakpoint(tablets){
            display: none;
        }
    }

    &::after{
        display: block;
        position: absolute;
        content: "";
        background-image: url("../assets/svg/cases-vetor-right.svg");
        height: 800px;
        width: 140px;
        right: 0;
        top: 300px;
        z-index: 9;
        transform: rotate(180deg);
        background-position-x: 140px;

        @include breakpoint(tablets){
            display: none;
        }
    }

    .row{        
        margin: 40px auto;
    }

    .col{
        max-width: 400px;
        margin: 0 auto 40px auto;
    }

    .box{
        color: white;
        .top{
            background-color: #2E3152;
            padding: 80px 20px 40px 20px;
            min-height: 510px;

            @include breakpoint(tablets){
                min-height: unset;
            }

            &::before{
                display: block;
                position: absolute;
                content: "";
                background-image: url("../assets/nova-aspas.png");
                background-size: 30px;
                height: 28px;
                width: 30px;
                left:30px;
                top: 20px;
                z-index: 9;
            }
        }
        .bottom{
            padding-bottom: 20px;
            img{
                position: relative;
                width: 90px;
                height: 90px;
                border-radius: 70px;
                margin: 0 auto;
                object-fit: cover;
                top: -20px
            }
            background-color: #282A41;
            border-bottom: 10px solid #8B97BB;

            h3, h4, h5{
                margin: 0  auto 10px auto;
            }

            h3{
                font-weight: bold;
            }

            h5{
                color: $spotlight;
            }
        }
    }
}