.differential{

    background-image: url('../assets/bg-roger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    text-align: center;
    color: white;

    p{
        margin-bottom: 40px;
    }

    h3{
        font-weight: bold;
    }

    img{
        margin: 0 auto;
    }

}