* {
  box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
p {
  padding: 0px;
  margin: 0px;
}

html{
  font-family: 'Montserrat', sans-serif;
}

body{
  background: $baseColor;
}

h1{
  @include fontSize(30px);
  line-height:30px; 
  b{
    font-weight: bold;
    font-size: 48px;
    display: block;
    @include fontSize(48px);
  }
}

h1, h2, h3{
  font-weight: 100;
}

h2{
  @include fontSize(23px);  
  line-height:30px;   
}

h3{
  @include fontSize(19px);
  line-height:30px; 
}

h4{
  @include fontSize(17px);
  font-weight: bold;
}

h5{
  @include fontSize(15px);
}

ul {
  list-style: none;
}

a {
  color: #345;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.title{  
  display: grid;
  grid-template-columns: max-content minmax(40px, 100px);
  align-items: center;
  gap: 20px;

  h2{
    text-transform: uppercase;
    font-weight: bold;
    position: relative; 
  }
  
  span{
    display: block;
    position: relative;
    &::after{
      display: block;
      position: absolute;
      content: "";
      background-image: url("../assets/svg/line.svg");
      background-size: cover;
      height: 1px;
      width: 100%;
      right: 0px;
      top: 50%;
      z-index: 9;
    }
  }
}

p{
  font-size: 18px;
  line-height: 30px;
}

hr{
  width: 100%;
  border: 1px solid #393C65;
}

form{
  label{
    margin-bottom: 20px;
    display: block;
  }
  input, select, textarea{
    min-height: 50px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 10px;
  }

  input[type="submit"]{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    border: none;
    transform: scale(1);

    @include transition();

    &:hover{
      transform: scale(1.05);
      @include transition();
    }
  }

  p{
    font-size: 16px;
    opacity: 0.6;
  }
}

.section{
  padding: 90px;
  position: relative;
  display: block;

  @include breakpoint(desktops){
    padding: 10px;
    margin: 0 auto;
  }
}

.columns {
  display: grid;
  gap: 10px 40px;
  position: relative;
  height: fit-content;
  align-items: start;
  max-width: 1920px;
  z-index: 8;

  @include breakpoint(largeDesktops){
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .column{
    display: block;
    position: relative;
    @include breakpoint(smartphones){
      margin: 0 auto;
    }
  }
}



button, input[type="submit"] {
  background: linear-gradient(to right, #C8AC78 0%, #B08961 100%);  
  &:hover {
    background-position: right center;
  }
  color: white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 25px;
  margin: 40px 0;
  width: fit-content;
  cursor: pointer;
  @include transition();

  &:hover{            
    transform: scale(1.1);
    @include transition();
  }

  a{
    color: white;

    &:hover{
      color: white;
    }
  }
}