* {
  box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
p {
  padding: 0px;
  margin: 0px;
}

html{
  font-family: 'Open Sans', sans-serif;
}

h1{
  @include fontSize(30px);
  line-height:50px; 
  width: 100%;
  b{
    font-weight: bold;
    font-size: 48px;
    display: block;
    @include fontSize(48px);
  }
}

h2{
  @include fontSize(33px);
}

h3{
  @include fontSize(19px);
  line-height: 40px; 
}

h4{
  @include fontSize(17px);
  font-weight: bold;
}

h5{
  @include fontSize(15px);
}

ul {
  list-style: none;
}

a {
  color: #345;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container-flat{
  max-width: 1500px;
}

.title{  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  

  h2{
    flex-grow: 0;
    text-transform: uppercase;
    position: relative;

    b{
      font-weight: 100;
      display: block;
    }
  }
  
  span{
    flex: content;
    flex-grow: 0;
    height: 10px;
    margin: 10px;  
    width: 50px;
    display: block;
    position: relative;
    &::after{
      display: block;
      position: absolute;
      content: "";
      background-image: url("../assets/svg/line.svg");
      background-size: cover;
      height: 1px;
      width: 100%;
      right: 0px;
      top: 50%;
      z-index: 9;
    }
  }
}

section, .section{
  padding: 90px;
  position: relative;
  display: block;

  @include breakpoint(tablets){
    padding: 90px 10px;
  }
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 1920px;
  z-index: 8;

  @include breakpoint(largeDesktops){
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .column{
    display: block;
    position: relative;
    width: 100%;
    @include breakpoint(smartphones){
      margin: 0 auto;
    }
  }
}

p{
  font-size: 18px;
  line-height: 30px;
}

hr{
  width: 100%;
  border: 1px solid #393C65;
}

form{
  label{
    margin-bottom: 20px;
    display: block;
  }
  input, select, textarea{
    min-height: 50px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 10px;
  }

  input[type="submit"]{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    border: none;
    transform: scale(1);

    @include transition();

    &:hover{
      transform: scale(1.05);
      @include transition();
    }
  }

  p{
    font-size: 16px;
    opacity: 0.6;
  }
}

.pink button{
  background: pink;
}

button, input[type="submit"] {
  background: linear-gradient(to right, #C8AC78 0%, #B08961 100%);  
  color: white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  @include fontSize(18px);
  padding: 15px 25px;
  width: fit-content;
  cursor: pointer;
  @include transition();

  &:hover{            
    transform: scale(1.1);
    @include transition();
  }

  a{
    color: white;

    &:hover{
      color: white;
    }
  }

  @include breakpoint(tablets){
    max-width: 300px;
  }
}

.col,
  > [class*="col-"] {
    margin-bottom: 30px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
}

@import 'animation.scss';