@import '@/assets/scss/variables.scss';  
@import '@/assets/scss/mixins.scss';
@import '@/assets/scss/breakpoint.scss';
@import '@/assets/scss/general.scss';

header{
  position: relative;
  display: block;
  width: 100%;
  z-index: 10;
  box-shadow: 5px 5px 10px rgba(0,0,0,.05);

  animation-name: enterTop;
  animation-duration: 4s;

  @include transition();

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 90px;
    margin: 0 auto;   

    @include breakpoint(largeDesktops){
      display: block;
      padding: 0px 10px;
    };  
    
    #burgerMenu{
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      display: none;
    
      @include breakpoint(largeDesktops){
        display: block;
      };
    
      img{
        width: 40px;
        height: 40px;
        padding: 10px;
      }
    }

    a{
      @include transition();
      &:hover{            
        color: $golden;
        transform: scale(1.1);
        @include transition();
      }
    }

    .router-link-exact-active{
      color: $golden;
    }

    .menuDesktop{
      display: block;
      @include transition();
      @include breakpoint(largeDesktops){
        display: none;
      };
    }

    .menuMobile{
      @include transition();
      @include breakpoint(largeDesktops){
        display: block;
      };
    }

    #menuItems{
      li{
        display: inline-block;
        position: relative;
        height: 100%;
        padding: 20px;
        cursor: pointer;

        span{
          font-size: 10px;
        }

        @include breakpoint(largeDesktops){
          display: block;
          margin: 0 auto;
          text-align: center;
        };

        &:hover{
          .submenu{
            display: block;
          }
        }
      }
    }
    #searchBtn{
      @include breakpoint(largeDesktops){    
        width: 50px;
        height: 50px;
        padding: 10px;
        top: 10px;
        right: 55px;      
        margin: 0 auto;
        position: absolute;

        p{
          display: none;
        }
      }

      div{
        display: flex;        
        cursor: pointer;   
        img{
          width: 20px;
          margin: 0 5px;
        }
        p{
          @include fontSize(16px);
        }
      }
    }

    .logo {
      padding: 10px 0;
    }

    .logo img {
      width: 90px;
      margin: 0 auto;
      @include transition();

      &:hover{            
        transform: scale(1.1);
        @include transition();
      }
    }

    .submenu{
      display: none;
      position: absolute;
      background-color: white;
      color: $baseColor;
      padding: 10px;
      box-shadow: 0px 4px 11px #6f6f6f2e;
      border-top: 3px solid $golden;
      top: 40px;
      margin: 20px auto;
      width: max-content;
      max-width: 250px;
      @include fontSize(15px);

      @include breakpoint(largeDesktops){
        top: 0;
        position: relative;
        width: 100%;
      };

      &:hover{            
        display: block;
      }

      li{
        display: block !important;
        padding: 20px;
        border-bottom: 1px solid #6f6f6f2e;
        &:last-child{
          border-bottom: none;
        }
      }

      a{
        @include transition();
        &:hover{            
          color: $golden;
          transform: scale(1.1);
          @include transition();
        }
      }
    }
  }
}

.darkMenu{
  background-color: $baseColor;
  color: white;
  a{
    color: white;
  }
  .submenu{
    a{
      color: $baseColor;
    }
  }
}

.defaultMenu{  
  background-color: white;
  color: grey;

  a{
    color: grey;
  }
  .submenu{
    a{
      color: $baseColor;
    }
  }

  img{
    filter: grayscale(1);
    opacity: 0.7;
  }
}

.darkTransparent{  
  background-color: #151515a3;
  color: white;

  a{
    color: white;
  }
  .submenu{
    a{
      color: $baseColor;
    }
  }
}