@import '@/assets/scss/variables.scss';
@import '@/assets/scss/breakpoint.scss';
.historias {
  background-color: white;
  .title {
    max-width: 300px;
    h2 {
      color: $baseColor;
    }
  }
  .sec-card {
    padding: 0 200px;
    @include breakpoint(tablet-desktop) {
      padding: 0;
    }
    @include breakpoint(smartphones) {
      padding: unset;
    }
    @include breakpoint(fullHdDesktops) {
      padding: 0 125px;
    }
  }
  .card-historias {
      width: 300px;
      margin: auto auto auto;
      position: relative;
      margin-bottom: 50px;
      @include breakpoint(tablet-desktop) {
        width: unset;
      }
      @include breakpoint(fullHdDesktops) {
        width: unset;
      }
      .preenche {
        height: 165px;
        @include breakpoint(tablet-desktop) {
          height: 292px;
        }
        @include breakpoint(fullHdDesktops) {
          height: 217px;
        }
      }
      .img-field-h {
        position: absolute;
        width: 300px;
        height: 165px;
        border: 1px solid $pink-fsmall;
        left: -10px;
        top: 10px;
        z-index: 0;
        @include breakpoint(tablet-desktop) {
          right: 10px;
          width: unset;
          height: 290px;
        }
        @include breakpoint(fullHdDesktops) {
          width: 415px;
          height: 217px;
        }
      }
      img {
        width: 100%;
        height: 165px;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        @include breakpoint(tablet-desktop) {
          height: unset;
        }
        @include breakpoint(fullHdDesktops) {
          height: 217px;
        }
      }
      .text-historia {
        padding-top: 10px;
        color: #444444;
        text-align: center;
      }
  }
}