@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins.scss';
@import '@/assets/scss/breakpoint.scss';
@import '@/assets/scss/cards.scss';

.materials{
    color: white;
    
    h1{
        font-weight: bold;
    }

    h2{
        font-size: 20px !important;
    }

    h1, p{
        text-align: center;
        color: $lightBase;
    }

    .card{
        margin-top: 40px;
        background-color: white;
        .left{
            &::after{
                right: -10px;
            }

            img{
                height: 180px;
            }

        }
        .rigth{
            min-height: 100px;
        }
    }
    .h-90{
        height: 100% !important;
    }
}