@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins.scss';
@import '@/assets/scss/cards.scss';

.materials{
    color: white;
    
    h1{
        font-weight: bold;
    }

    h1, p{
        text-align: center;
    }

    .card{
        margin-top: 40px;
        background-color: white;
    }
}