@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins.scss';
@import '@/assets/scss/breakpoint.scss';
@import '@/assets/scss/cards.scss';

.materials{
    color: white;

    h1{        
        text-align: center;
        text-transform: uppercase;
        color: $golden;
        font-weight: 600;
        b{
            font-weight: 100;
        }
    }

    h1, p{
        margin-bottom: 30px;
    }
    
    h2{
        font-size: 20px !important;
    }

    p{
        text-align: center;
        color: $lightBase;
    }

    .card{
        margin-top: 40px;
        background-color: white;
        .left{
            &::after{
                right: -10px;
            }

            img{
                height: 190px;
            }

        }
        .rigth{
            min-height: 100px;
        }
    }
    .h-90{
        min-height: 150px;
    }
}