@import "variables.scss";
@import "breakpoint.scss";

.methodology{
    background: white;
    color: $baseColor;
    text-align: center;

    h3, span{
        font-weight: bold;
    }

    h4{
        @include fontSize(25px);
        max-width: 600px;
        margin: 90px auto 40px auto;
    }

    h3{
        margin-top: 10px;
        font-weight: 300;
        max-width: 200px;
        margin: 0 auto 20px auto;
        @include fontSize(25px);
    }

    ul{
        li{
            list-style: none;
            display: block;
            margin-bottom: 10px;
            opacity: 0.7;
            @include breakpoint(tablet-desktop) {
                font-size: 22px;
            }
        }
    }


    .col, [class*="col-"] { 
        span{
            font-size: 80px;
            color: $golden;
        }

        &::before{
            display: block;
            position: absolute;
            content: "";
            background-image: url("../assets/svg/arrow.svg");
            background-size: 20px;
            height: 34px;
            width: 20px;
            right: -10px;
            top: 40px;
            z-index: 9;
            @include breakpoint(tablet-desktop) {
                display: none;
            }
            @include breakpoint(tablets){
                display: none;
            }
        }

        &:last-child{
            &::before{
                display: none;
            }
        }
    }
    
}