@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.metrics{
    background-color: white;
    text-align: center;
    margin: 40px auto;

    .container-fluid{
        background-color: #FAFAFA;
        padding: 40px;
    }

    span{
        @include fontSize(35px);
        font-weight: bold;
        color: $golden;
    }

    h3{
        @include fontSize(22px);
        font-weight: 100;
    }
    
    img{
        max-width: 200px;
        height: 70px;
        margin: 10px auto 30px auto;
    }
}