.pillars{
    display: block;
    position: relative;
    width: 100%;
    color: $baseColor;
    background: white;
    margin: 30px 0;
    p {
        color: $golden;
     }
    h3{
        font-size: 21px;
        margin-top: 0;
        font-weight: 100;
        color: $baseColor;
        text-align: left;
        @include breakpoint(fullHdDesktops) {
            font-size: 32px;
        }
    }

    .pillar{
        &::before{
            display: block;
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            right: 0;
            top: 60px;
            z-index: 9;
            background-color: $golden;
            transform: rotate(45deg);
            @include breakpoint(tablets){
                display: none;
            }
        }
        &.f-small {
            &::before{
                display: block;
                position: absolute;
                content: "";
                height: 8px;
                width: 8px;
                right: 0;
                top: 60px;
                z-index: 9;
                background-color: $pink-fsmall;
                transform: rotate(45deg);
                @include breakpoint(tablets){
                    display: none;
                }
            }
        }
    }

    img{
        width: auto;
        margin: 0 auto;
        height: 80px;
        transform: scale(1);
        @include transition();
        @include breakpoint(fullHdDesktops) {
            height: 100px;
        }
        &:hover{
            transform: scale(1.1);
            @include transition();
        }
    }

    p{
        text-align: center;
        @include fontSize(13px);
        margin: 30px auto;
        text-transform: uppercase;
        @include breakpoint(fullHdDesktops) {
            @include fontSize(24px);
        }
    }    
}
#icons-area {
    margin: 50px 0;
}
.no-animate {
    img {
        &:hover {
            transform: scale(1);
        }
    }
}
.f-small {
    p {
        color: $pink-fsmall;
    }
}