.pillars{
    display: block;
    position: relative;
    width: 100%;
    color: $baseColor;
    background: white;

    h3{
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 0px;
    }

    .row{
        align-items: start;
    }

    .pillar{
        &::before{
            display: block;
            position: absolute;
            content: "";
            background-image: url("../assets/svg/separator.svg");
            background-size: 10px;
            height: 10px;
            width: 10px;
            right: 0;
            top: 60px;
            z-index: 9;

            @include breakpoint(tablets){
                display: none;
            }
        }
    }

    img{
        width: auto;
        margin: 0 auto;
        height: 80px;
        transform: scale(1);
        @include transition();

        &:hover{
            transform: scale(1.1);
            @include transition();
        }
    }

    p{
        text-align: center;
        @include fontSize(15px);
        margin: 30px auto;
        text-transform: uppercase;
    }    
}