.services{
    color: white;
    display: block;
    position: relative;

    .columns{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 90px auto;
    }

    .column{
        display: grid;
        display: block;
        margin: auto;
        position: relative;
        flex: 1;
        text-align: center;
        color: white;
        transition: .3s;
        max-width: 25%;
        min-width: 10%;
        border-right: 0.5px solid #fffffff2;

        &:last-child{
            &::before{
                display: block;
                position: absolute;
                content: "";
                background-image: url("../assets/svg/waves.svg");
                background-size: 120px;
                height: 120px;
                width: 120px;
                right: -60px;
                top: -60px;
                z-index: -1;

                @include breakpoint(tablets){
                    display: none;
                }
            }            
            border-right: 0px;
        }

        &:nth-child(1){
            &::before{
                display: block;
                position: absolute;
                content: "";
                background-image: url("../assets/svg/aresta.svg");
                background-size: 200px;
                height: 200px;
                width: 200px;
                left: -16px;
                top: -16px;
                z-index: 1;

                @include breakpoint(tablets){
                    display: none;
                }
            }
        }

        &:hover{    
            max-width: 50% !important;
            flex-grow: 3;
            color: #fff;
            min-width: 10%;
            cursor: pointer;
            @include transition(all 1200ms ease);            
            .text p{      
                background: white;
                color: black;
                width: 100%;
                padding: 20px; 
                display: block;
                @include transition(all 800ms ease);
            }

            .text::before{
                display: none;
                @include transition(all 800ms ease);
            }
        }
    }

    .text{
        display: block;
        position: absolute;
        bottom: 0px;
        width: 100%;        
        padding: 0px;
        z-index: 9;

        @include transition(all 800ms ease);

        &::before{
            display: block;
            position: absolute;
            content: "";
            background-image: url("../assets/svg/arrow.svg");
            background-size: 12px;
            height: 20px;
            width: 12px;
            left: 40px;
            bottom: 40px;
            z-index: 9;
            display: block;   
            @include transition();        
        }      

        .label{
            background: linear-gradient(to right, #C8AC78 0%, #B08961 100%);
            max-width: 200px;
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: 800;
            text-align: center;
            margin: 0 auto;
            display: block;
            position: relative;
            bottom: 300px;
            cursor: pointer;
            @include transition();

            &:hover{
                transform: scale(1.1);;
                @include transition();
            }
        }

        p{
            text-align: center;
            font-size: 20px;
            line-height: 30px;
            display: none;
            @include transition(all 800ms ease);
        }
    }

    img{
        object-fit: cover;
        height: fit-content;
        width: 100%;
        @include transition();
    }
}