.singleBlog{
    color: $baseColor;
    background-color: white;
    z-index: 1;

    ul{
        list-style: disc;
        li{
            display: block;
            line-height: 28px;
            margin-bottom: 20px;
            margin-left: 0;
        }
    }

    .columns{
        grid-template-columns: minmax(200px, 300px) 3fr 1fr;
        margin: 30px auto 90px auto;

        @include breakpoint(hdDesktops) {
            grid-template-columns: minmax(200px, 250px) 3fr minmax(200px, 250px);
        }
    }

    .sumary{
        position: fixed;
        width: min-content;
        z-index: 0;

        @include breakpoint(smartphones) {
            position: relative;
        }
    }

    .content{
        h1{
            padding-top: 80px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .thumbnail{
            display: block;
            position: relative;
            &::after{
                content: "";
                width: 50%;
                height: 110%;
                position: absolute;
                top: -5%;
                right: -3%;
                z-index: -1;
                background: $golden;
            }
        }        

        h2, h3, h4, a{
            font-weight: bold;
            color: $golden  ;
        }

        p, h2{
            margin-top: 30px;
            margin-bottom: 30px;
            display: block;
        }

        li{
            font-size: 16px;
            line-height: 25px;
        }

        ul{
            li{
                display: list-item;
                color: $golden;
            }
            margin: 20px 20px;
        }        

        .breadcrumb{            
            margin-bottom: 50px;
            display: block;

            a{
                color: $baseColor;

                &:hover{
                    color: $golden;
                }
            }
        }

        a{
            color: $golden;
        }

        ul{
            list-style: disc;
        }
    } // end content

    .categories, .newsletter, .banner{
        margin-bottom: 60px;
        display: block;
    }

    .breadcrumb, .sumary, .categories{
        a{
            &:hover{
                color: $golden;
            }
        }
    }
    
    a.router-link-active{                
        font-weight: bold;
        color: $golden;
        &:hover{
            color: $baseColor;
        }                
    }

    .banner img{
        width: 100%;
        height: auto;
    }

    .newsletter{
        h3{
            text-align: center;
        }
        form{
            background-color: $baseColor;
            padding: 20px;
            color: white;
        }
        p{
            margin-bottom: 20px;
        }
    }

    
    @media screen and (max-width: 1200px) {        
        .columns{
            grid-template-columns: 1fr;
            grid-gap: 10px;     
        }     
        .local{
            text-align: center;
        }
    }
}


header{
    position: relative;
}

.section{
    padding-top: 60px;
}