@import 'mixins.scss';
@import 'variables.scss';
@import 'breakpoint.scss';
$colorForSmall:#FF6CAB;

.s-contato{
    &::after {
        z-index: -1!important;
    }
    form{
        background: inherit!important;
        input{
            background: inherit!important;
            @include mediaScreenMin($tablets){
                margin: 0 20px;
            }
            @include breakpoint(tablet-desktop) {
                margin: 10px 20px;
            }
            &::placeholder{
                color: gray!important;
            }
            &.ForSmall{
                border-bottom: solid 1px $colorForSmall!important;
            }
        }
        button{
            padding: 20px;
            text-transform: none;
            img{
                height: 18px;
                margin: auto 10px;
            }
        }
    }
} 

h2.fale-conosco{
    padding: 0 15%;
    font-weight: normal;
    @include fontSize(30px);
    &::before{
        content: "";
        background-image: url("../assets/svg/fale-conosco.svg");
        background-repeat: no-repeat;
        width: 185px;
        height: 185px;
        display: block;
        position: absolute;
        margin-left: -100px;
        margin-top: -100px;
    }
    &.ForSmall::before{
        background-image: url("../assets/svg/fale-conosco-rosa.svg");
    }
}

span.ForSmall{
    color: $colorForSmall;
}

button.ForSmall{
    background-color: $colorForSmall;
}