@import "variables.scss";
@import "mixins.scss";
@import "breakpoint.scss";


.spotlight{
    display: block;
    position: relative;
    height: 100vh;
    min-height: 600px;
    @include breakpoint(smartphones) {
        height: 112vh;
    }

    h1 {
        @include fontSize(40px);
        line-height: 52px;
        max-width: 720px; 
        position: relative;
        animation-name: enterLeft;
        animation-duration: 2s;

        @include breakpoint(tablets){
            @include fontSize(40px);
            line-height: 50px;
            text-align: center;
        }
    }

    h2{
        @include fontSize(30px);
        position: relative;
        animation-name: enterLeft;
        animation-duration: 4s;
    }
      

    .image{
        filter: brightness(0.9);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    button{
        margin-top: 40px;
        position: relative;
        animation-name: enterLeft;
        animation-duration: 6s;

        @include breakpoint(tablets){
            margin: 40px auto 20px auto;
            display: block;
        }
    }

    .text{
        position: absolute;
        top: 30%;
        z-index: 1;
        color: white;
        left: 90px;
        @include breakpoint(tablets){
            top: 10%;
        }
        @include breakpoint(smartphones){
            left: 0;
        }
    }

    .see-more{
        display: block;
        width: 100%;
        bottom: 0;
        position: absolute;
        z-index: 9;
        text-transform: uppercase;
        
        @include breakpoint(smartphones){
           display: none;
        }


        .container{
            display: block;
            position: relative;
            margin: 0px auto;
            color: white;
            width: fit-content;

            img{
                width: fit-content;
                height: auto;
                margin: 30px auto 0 auto;
                position: relative;

                animation: mymove 1s cubic-bezier(0.1,0.25,0.1,1) 5s infinite;

                @keyframes mymove {
                    // from {bottom: 10px;}
                    // to {bottom: 22px;}
                    0%   {bottom: 10px;}
                    50%  {bottom: 22px;}
                    100% {bottom: 10px;}
                }
            }
        }
    }
}

.home{
    .text{
        color: $baseColor;
    }
    .see-more span{
        color: $baseColor;
    }
}