@import "variables.scss";
@import "breakpoint.scss";

.spotlight{
    display: block;
    position: relative;
    height: 100vh;
    min-height: 600px;
    .image{
        filter: brightness(0.9);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    button{
        margin-top: 40px;
    }

    .text{
        position: absolute;
        top: 30%;
        z-index: 1;
        color: white;

        @include breakpoint(tablets){
            top: 10%;
        }
    }

    .see-more{
        display: block;
        width: 100%;
        bottom: 10px;
        position: absolute;
        z-index: 9;
        
        .container{
            display: block;
            position: relative;
            margin: 0 auto;
            color: white;
            width: fit-content;

            img{
                width: fit-content;
                height: auto;
                margin: 10px auto;
            }
        }
    }
}