@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins.scss';
@import '@/assets/scss/breakpoint.scss';

.talk{

    h1{
        @include breakpoint(fullHdDesktops){
           max-width: 550px;
        }
    }

    h2{
        text-transform: uppercase;
        font-weight: bold;
        @include fontSize(30px);
    }


    .text{
        margin-bottom: 40px;
    }

    .iframe{   
        display: block;    
        img{
            height: 500px;
            width: 100%;
            object-fit: cover;
        }

        @include breakpoint(hdDesktops){
            height: 300px;
            &::after{
                display: none;
            }
        }
    }

    iframe{
        overflow:hidden;
        height: 500px;
        width: 100%;   
        
        @include breakpoint(hdDesktops){
            height: 300px;
        }
    }
}

.talkDefault,.talkDark{
    padding-top: 100px;
    padding-bottom: 100px;
}

.talkDefault{
    color: $baseColor;
    background: white;
}

.talkDark{
    background: $baseColor;
    color: white;
}

.talkers{
    .video{
        height: 100%;
        position: relative;
        z-index: 9;

        iframe{
            // margin-right: -80px;
            position: relative;
            display: block;
        }
    }

    .right{
        height: 100%;
        color: $baseColor;
        padding: 40px;
        background-color: white;
        z-index: 8;
        display: block;
        position: relative;
        margin-top: 40px; 

        &:before{
            background-color: white;
            position: absolute;
            z-index: 1;
            width: 30px;
            height: 100%;
            content: "";
            top: 0;
            left: -28px;
        }

        &::after{
            display: block;
            position: absolute;
            content: "";
            background-image: url("../assets/svg/waves.svg");
            background-size: 120px;
            height: 120px;
            width: 120px;
            right: -60px;
            bottom: -60px;
            z-index: 1;

            @include breakpoint(tablets){
                display: none;
            }
        }      

        hr{
            width: 100%;
            border: 0.5px solid $baseColor;
        }

        img{
            max-width: 200px;
            width: 100%;
            height: auto;
            margin: 10px auto;
            padding: 0 5px;
        }

        .col-4 {
            margin: 20px auto;
            &::before{
                display: block;
                position: absolute;
                content: "";
                background-image: url("../assets/svg/separator.svg");
                background-size: 10px;
                height: 10px;
                width: 10px;
                right: 0;
                top: 50%;
                z-index: 9;
            }
    
            &:last-child, &:nth-child(3){
                &::before{
                    display: none;
                }
            }
        }
    }

    .bio{        
        h3, h4{
            color: $golden;
            padding: 10px 0;
            margin: 0;
        }

        h3{
            @include fontSize(35px);
            text-transform: uppercase;
            font-weight: bold;
        }

        h4{
            @include fontSize(25px);
            font-weight: 100;
        }
    }
}
.bio {
    p {
        @include breakpoint(fullHdDesktops) {
            font-size: 22px;
        }
    }
}
.themes{
    // color: white;

    .card{
        display: block;
        position: relative;
        margin-bottom: 80px;
        margin: 20px auto;
        z-index: 1;

        &:hover .description{
            z-index: 1;
            height: 100%;
            opacity: 1;
            cursor: pointer;
            @include transition();
        }
    }

    @include breakpoint(tablets){
        max-width: 300px;
        margin: 30px auto;
    }

    button{
        display: block;
        margin: 30px auto;
    }

    img{
        max-height: 250px;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top;
    }
    
    p{
        text-align: center;
        padding: 10px;
        @include fontSize(15px);
        @include breakpoint(fullHdDesktops) {
            @include fontSize(20px);
        }
    }

    .description{
        background-color: $golden;
        width: 100%;
        height: 100px;

        position: absolute;
        opacity: 0;
        z-index: -1;
        @include transition();

        p{
            text-align: center;
            padding: 20px;
            margin: 0 auto;
            position: relative;
            color: white;
        }

        .details{
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    a{
        margin: 40px auto 20px auto;
    }
}
/// @author Pedro Matos
/// movido da página para cá
#hr-golden {
    border-color: $golden-dark;
  }
  .fotos-palestrantes {
    transition-duration: .5s;
    max-width: 100vw;
    // overflow-x: scroll;
    cursor: pointer;
    position: relative;
    @include breakpoint(smartphones) {
      margin: auto;
    }
    @include breakpoint(fullHdDesktops) {
        margin-right: 30px;
        margin-bottom: 40px;
        p {
            font-size: 22px;
        }
        span {
            font-size: 22px;
        }
    }
    &:hover {
      transition-duration: .5s;
      transform: scale(1.1);
    }
    .overlay-change {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    img {
      width: 200px;
      height: 200px;
      padding: 10px;
      @include breakpoint(fullHdDesktops) {
        padding: 0px;
      }
    }
    text-align: center;
    p {
      font-weight: 600;
      color: $baseColor;
    }
    span {
      color: $golden-dark;
    }
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  #banner-video {
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    height: 310px;
    overflow-y: hidden;
    box-shadow: grey 2px 2px 30px;
    h2 {
        position: absolute;
        top: 15px;
        margin-left: 10px;
        width: 200px;
        font-size: 18px;
        font-weight: 100;
        color: white;
        @media (min-width: $tablets){
            top: 50px;
            width: 445px;
            font-size: 28px;
        }
        @media (min-width: $desktops){
            top: 50px;
            margin-left: 50px;
            width: 600px;
            font-size: 40px;
        }
        @media (min-width: $fullHdDesktops){
            font-size: 65px;
            top: 150px;
            margin-left: 80px;
            width: 830px;
        }
        @media (max-width: $smartphones) {
            font-size: 28px;
        }
        span {
        font-weight: 600;
        color: $golden-dark;
        }
    }
    img {
      object-fit: cover;
      box-shadow: grey 2px 2px 30px;
      position: relative;
      top: -106px;
      @include breakpoint(smartphones) {
          height: 201px;
      }
      @include breakpoint(fullHdDesktops) {
        max-width: 1700px;
        position: relative;
        top: -106px;
      }
    }
    @include breakpoint(fullHdDesktops) {
        height: 500px;
        overflow-y: hidden;
        box-shadow: grey 2px 2px 30px;
    }
  }
  .next {
    background-color: black;
    height: 50px;
    width: 50px;
  }
  .container-fhd {
      @include breakpoint(fullHdDesktops) {
        max-width: 1700px;
      }
  }
  .scroll {
      overflow-y: scroll;
      min-height: 300px;
      @include breakpoint(smartphones) {
          overflow-x: unset;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 1px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: $golden;
        border-radius: 6px;
    }
      ul {
          display: inline-flex;
          img {
            max-width: unset !important;
          }
          @include breakpoint(smartphones) {
              display: block;
              li img{
                margin: auto;
              }
          }
      }
  }
  .palestrantes-fotos {
      max-width: 100vw;
      position: relative;
      @include breakpoint(fullHdDesktops) {
        margin-bottom: 50px;
      }
        @include breakpoint(smartphones) {
            overflow-x: visible;
            max-width: unset;
             margin-bottom: 20px;
            &::after {
                content: '';
                display: none;
            }
        }
      &::after {
        content: '';
        height: 2px;
        position: absolute;
        background-color: $baseColor;
        left: 0;
        right: 0;
        bottom: 7px;
        z-index: -1;
      }
  }