@import 'variables.scss';
@import 'mixins.scss';

.training {
    margin-top: 100px;
    .about {
        img {
            margin-bottom: 40px;
        }

        p {
            margin-top: 20px;
            margin-bottom: 40px;
            @include fontSize(22px);
            line-height: 40px;
            font-weight: 300;

            @media (max-width: $hdDesktops) {
                font-size: 20px;
                line-height: 40px;
            }
        }

        h2 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 32px;
            color: $baseColor;
        }
    }    

    .title {
        margin-bottom: 40px;
    }

    .pillars{
        p{
            color: $baseColor;
            text-transform: none;
        }

        @media (max-width: $hdDesktops) {
            margin: 0;
            padding: 20px;
        }
    }

    .academy{
        img{
            margin-bottom: 40px;
        }
        p {
            margin-top: 0px;
            margin-bottom: 20px;
            @include fontSize(25px);
            line-height: 50px;
            font-weight: 300;

            @media (max-width: $hdDesktops) {
                font-size: 20px;
                line-height: 40px;
            }
        }
    }
}
