@import "@/assets/scss/variables.scss";
@import "@/assets/scss/breakpoint.scss";

#details-fs {
  position: relative;
  margin-top: 50px;
  background-color: #fafafa;
  padding: 190px 40px 300px 40px;
  display: block;

  @include breakpoint(smartphones) {
    margin-top: 0;
    height: 400px;
  }

  @include breakpoint(hdDesktops) {
    padding: 120px 40px 260px 40px;
  }

  img {
    position: absolute;
    right: 0px;;
    border: 0;
    width: 90%;
    bottom: 0;

    @include breakpoint(smartphones) {
      top: unset;
      height: unset;
      width: unset;
      bottom: 0;
    }
  }

  h2 {
    font-size: 44px;
    font-weight: 400;
    width: 500px;
    max-width: 100%;

    @include breakpoint(tablets) {
      font-size: 24px;
    }

    @include breakpoint(hdDesktops) {
      font-size: 30px;
    }
    
    span {
      color: $pink-fsmall;
      &#animation {
        position: relative;
        &::after {
          content: "|";
          color: $baseColor;
          animation: blink 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 1s infinite;
          opacity: 1;
        }
        &::before {
          content: "40 segmentos";
          animation: typing 4s cubic-bezier(0.1, 0.25, 0.1, 1) 1s infinite;
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    content: "40 segmentos";
  }
  5% {
    content: "40 segmento";
  }
  10% {
    content: "40 segment";
  }
  15% {
    content: "40 segmen";
  }
  20% {
    content: "40 segme";
  }
  25% {
    content: "40 segm";
  }
  30% {
    content: "40 seg";
  }
  35% {
    content: "40 se";
  }
  40% {
    content: "40 s";
  }
  45% {
    content: "40";
  }
  50% {
    content: "4";
  }
  55% {
    content: "40 ";
  }
  60% {
    content: "40 s";
  }
  65% {
    content: "40 se";
  }
  70% {
    content: "40 seg";
  }
  75% {
    content: "40 segm";
  }
  80% {
    content: "40 segme";
  }
  85% {
    content: "40 segmen";
  }
  90% {
    content: "40 segment";
  }
  95% {
    content: "40 segmento";
  }
  100% {
    content: "40 segmentos";
  }
}
