@import '@/assets/scss/variables.scss';
@import '@/assets/scss/mixins.scss';
@import '@/assets/scss/breakpoint.scss';
@import '@/assets/scss/cards.scss';

.blog{
    background-color: white;

    .section{
        max-width: 1600px;
        margin: 0 auto;
    }

    .bottom{
        .row{
            align-items: center;
        }
        margin-top: 20px;
    }
    
    .content{       
        margin-top: 60px;   
    }
    .title span::after{
        @media (min-width: $fullHdDesktops) {
            height: 3px;
        }
    }
    
    .mw100w{
        max-width: 100vw;
    }
    &.podcast{
        &.fhd-max-width{
            @media (min-width: $fullHdDesktops) {
                max-width: 1600px;
                margin: 0 auto;
            }
        }
        .mt-banner{
            margin-top: 50px;
            @media (min-width: $tablets) {
                margin-top: 100px;
            }
            @media (min-width: $fullHdDesktops) {
                margin-top: 170px;
            }
        }
    }
}
.mb-100px{
    margin-bottom: 100px;
}
.post-categorie {
    &:hover {
        background-color: #30546e;
        color: white;
        @include transition();
    }
}