@import '@/assets/scss/variables.scss';
@import '@/assets/scss/breakpoint.scss';

.blogSingle{
    color: $baseColor;
    background-color: white;
    z-index: 1;
    padding-top: 160px;

    .sumary{
        padding: 10px;
        border: solid 2px $golden;
        border-radius: 5px;
        h2{
            font-weight: 600;
            text-transform: uppercase;
            font-size: 24px
        }
        ul{
            margin: 30px auto;
            li{
                display: block;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 20px;
                margin-left: 0;
            }
            a{
                &:hover{
                    color: $golden;
                }
            }
        }
    }

    .columns{
        grid-template-columns: minmax(200px, 200px) 1fr minmax(250px, 300px);
        margin: 30px auto 90px auto;
        gap: 90px;

        @include breakpoint(hdDesktops) {
            grid-template-columns: minmax(200px, 200px) 3fr minmax(200px, 300px);
            gap: 50px;
        }
    }

    .content{

        padding: 0 40px;
        @include breakpoint(smartphones) {
            padding: 0;
        }
        iframe {
            max-width: 100%;
        }
        h1{
            padding-top: 10px;
            margin-bottom: 20px;
            font-weight: bold;
            @media (min-width: $largeDesktops) {
                padding-top: 80px;
            }
        }

        .thumbnail{
            display: block;
            position: relative;
            &::after{
                content: "";
                width: 60%;
                height: 108%;
                position: absolute;
                top: -4%;
                right: -2%;
                z-index: -1;
                background: linear-gradient(90deg, #fccc78 0%, $golden 100%);
                @media (min-width: $fullHdDesktops){
                    right: 2%;
                }
            }
        }

        h2, h3, h4, a{
            font-weight: bold;
            color: $golden  ;
        }

        p, h2{
            margin-top: 30px;
            margin-bottom: 30px;
            display: block;
        }

        li{
            font-size: 18px;
            line-height: 30px;
        }

        ul{
            li{
                display: list-item;
                color: $golden;
            }
            margin: 20px 20px;
        }        
        h3{
            font-size: 25px;
        }
        .breadcrumb{            
            margin-bottom: 50px;
            display: block;

            a{
                color: $baseColor;

                &:hover{
                    color: $golden;
                }
            }
        }

        a{
            color: $golden;
        }

        ul{
            list-style: disc;
        }
    } // end content

    

    .breadcrumb{
        a{
            &:hover{
                color: $golden;
            }
        }
    }
    
    @media screen and (max-width: 1200px) {        
        .columns{
            grid-template-columns: 1fr;
            grid-gap: 10px;     
        }     
        .local{
            text-align: center;
        }
    }
    .single-information{
        margin-top: 50px;
        p{
            font-size: 15px !important;
            margin-top: 50px;
            @media (min-width: $tablets) {
                font-size: 10px!important;
            }
            @media (min-width: $largeDesktops) {
                margin: 0;
                font-size: 13px!important;
                text-align: right;
            }
            @media (min-width: $fullHdDesktops) {
                margin: 0;
                font-size: 20px!important;
            }
        }
        .social-col{
            img{
                width: 40px;
                height: 40px;
                margin: 0 5px;
                cursor: pointer;
            }
        }
    }
    [role="main"]{
        section{
            padding: 0;
        }
    }
    &.podcast{
        padding-top: 90px;
        @media (min-width: $tablets) {
            padding-top: 140px;
        }
        @media (min-width: $largeDesktops) {
            padding-top: 200px;
        }
        .fhd-max-width{
            @media (min-width: $fullHdDesktops) {
                max-width: 1186px;
                margin: 0 auto;
            }
        }
        .content{
            padding: 0;
            // HeadSinglePodcastv1
            .thumbnail{
                &::after{
                    width: 98%;
                    background: linear-gradient(90deg, #000CBB 0%, #1E2134 100%);
                    height: 130%;
                    top: -15%;
                }
                .iframe{
                    width: 380px;
                    height: 160px;
                    padding-right: 15px;
                    @media (min-width: $tablets) {
                        width: 80%;
                        height: 280px;
                        margin-left: -5%;
                    }
                    @media (min-width: $desktops) {
                        width: 50%;
                        padding-right: 30px;
                    }
                    iframe{
                        width: 100%;
                        height: 100%;
                    }
                }
                .info{
                    width: 30%;
                    padding-left: 15px;
                    color: white;
                    @media (min-width: $tablets) {
                        width: 50%;
                    }
                    @media (min-width: $largeDesktops) {
                        width: 50%;
                        padding-left: 30px;
                    }
                    h2{
                        color: white;
                    }
                    .mt-date{
                        margin-top: 50px;
                        @media (min-width: $fullHdDesktops) {
                            margin-top: 90px;
                        }
                    }
                }
            }
            //HeadSinglePodcastv2
            .thumbnailv2{
                color: white;
                background: linear-gradient(90deg, #000CBB 0%, #1E2134 100%);
                padding: 25px;
                @media (min-width: $tablets) {
                    padding: 25px 40px;
                }
                .partic{
                    font-size: 15px;
                }
                .cienciavenda{
                    font-size: 25px;
                    line-height: 35px;
                }
                .datehead{
                    font-size: 12px!important;
                    line-height: 23px;
                    @media (min-width: $largeDesktops) {
                        font-size: 15px!important;
                        padding-right: 25px;
                    }
                }
                .embeds{
                    margin-top: 30px;
                    min-height: 235px;
                    iframe{
                        width: 100%;
                        height: 100%;
                        margin-bottom: 30px;
                        @media (min-width: $desktops) {
                            margin-bottom: unset;
                        }
                    }
                }
            }
            //HeadSinglePodcastv3
            .thumbnailv3{
                h1{
                    font-size: 35px;
                    line-height: 45px;
                    color: #171F38;
                    margin: 0 0 20px;
                    @media (min-width: $largeDesktops) {
                        margin: 0;
                    }
                }
                p{
                    &.partic{
                        font-size: 15px;
                        color: #171F38;
                        margin: 0 0 22px;
                    }
                    &.cienciavenda{
                        font-size: 25px;
                        line-height: 34px;
                        color: #171F38;
                    }
                    &.datehead{
                        font-size: 15px;
                        line-height: 23px;
                        color: #171F38;
                        @media (min-width: $largeDesktops) {
                            padding-right: 25px;
                        }
                    }
                }
                .embeds{
                    margin-top: 30px;
                    min-height: 235px;
                    iframe{
                        width: 100%;
                        height: 100%;
                        margin-bottom: 30px;
                        @media (min-width: $desktops) {
                            margin-bottom: unset;
                            margin-top: 0;
                        }
                        .css-znrwoh.e70pa3m0{
                            background-color: #171717;
                        }
                    }
                }
            }
            p, h1{
                font-size: 28px;
                line-height: normal;
                padding: 0;
                @media (min-width: $fullHdDesktops) {
                    font-size: 32px;
                }
            }
            h2, h3, h4, h5{
                color: #0C1581;
            }
            h2{
                font-size: 28px;
                line-height: normal;
                @media (min-width: $fullHdDesktops) {
                    font-size: 35px;
                    line-height: 45px;
                }
            }
            p{
                font-size: 18px;
                line-height: 30px;
                @media (min-width: $fullHdDesktops) {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
            .social-col{
                a{
                    &:first-child{
                        margin-left: auto;
                    }
                    &:last-child{
                        margin-right: auto;
                        @media (min-width: $desktops) {
                            margin-right: unset;
                        }
                    }
                }
            }
        }
        .confiratbm{
            display: block;
            @media (min-width: $tablets) {
                display: flex;
            }
            p{
                display: block;
                text-align: center;
                font-size: 25px;
                line-height: 18px;
                font-weight: bold;
                color: #0C1581;
                @media (min-width: $tablets) {
                    text-align: left;
                    display: inline;
                }
                @media (min-width: $desktops) {
                    align-self: center;
                }
                @media (min-width: $largeDesktops) {
                    margin-right: 13px;
                }
            }
            a{
                display: flex;
                &:last-child{
                    margin-bottom: 30px;
                    @media (min-width: $tablets) {
                        margin-bottom: 0;
                    }
                }
                img{
                    height: 20px;
                    margin: 10px auto;
                    @media (min-width: $tablets) {
                        margin: auto 10px;
                    }
                    @media (min-width: $largeDesktops) {
                        margin: auto 20px auto;
                    }
                }
            }
        }
        .single-information{
            margin-top: 50px;
        }
        .mt-article{
            margin-top: 50px;
        }
    }
}