@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/breakpoint.scss";

.contact {
    color: $baseColor;
    padding-top: 150px;
    h1 {
        text-align: center;
        position: relative;
        padding-top: 5px;
        width: fit-content;
        margin: 0 auto;
        font-weight: bold;
        margin-bottom: 80px;

        @include breakpoint(tablets){
            margin-bottom: 20px;
        }

        &::before {
            display: block;
            position: absolute;
            content: "";
            background-image: url("../assets/svg/icone-contato.svg");
            background-size: 50px;
            background-repeat: no-repeat;
            height: 70px;
            width: 50px;
            left: -60px;
            top: 0px;
        }
    }

    form {
        padding: 60px;
        margin-bottom: 40px;
        background-color: rgba(245, 245, 245, 0.657);

        h2.title-message {
            margin-bottom: 50px;

            $base-font-size: 30px;                  
        }

        select option {
            color: $baseColor;
        }

        input,
        select,
        textarea {
            border: none;
            border-bottom: solid 1px $golden;
            background-color: transparent;
            margin-bottom: 50px;
            &::placeholder {
                color: $baseColor;
            }
            &:focus {
                border-bottom: solid 2px $golden;
                outline: 0;
            }
        }
        
        textarea {
            font-family: "Open Sans", sans-serif;
        }
        input[type="submit"] {
            background: linear-gradient(to right, #c8ac78 0%, #b08961 100%);
            width: max-content;
            color: white;
        }

        label {
            margin-bottom: 0px;
            margin-top: 20px;
        }
    }

    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .local {
        margin-bottom: 60px;
        margin-left: 40px;
        img {
            height: 35px;
            margin-right: 15px;
            margin-left: -40px;
        }
    }

    a {
        color: $golden;
        margin: 10px 0;
    }

    p {
        @include breakpoint(hdDesktops) {
            @include fontSize(16px);
        }
    }

    b {
        font-size: 30px;
        margin-bottom: 20px;
        @include breakpoint(hdDesktops) {
            @include fontSize(20px);
        }
    }

    b,
    a {
        display: block;
    }
    .buttons-row {
        button {
            margin: 30px 10px;
            background: #eee;
            box-shadow: 4px 4px 9px 0px #ccc;
            color: #555;
            &.active {
                background: $golden-dark;
                color: white;
            }
            &:focus {
                outline: 0;
            }
            @media (max-width: $desktops) {
                margin-left: auto;
                margin-right: auto;
            }
        }
        button:first-child {
            margin-left: auto;
        }
        button:last-child {
            margin-right: auto;
        }
    }
    .aviso{
        margin-bottom: 50px;
    }
    .mw100w{
        max-width: 100vw;
    }
}
