@import "variables.scss";

.page{
    @media (min-width: $tablets) {
        padding-top: 100px;
    }
    h1, h2, h3{
        margin-bottom: 40px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: $lightBase;
    }

    .error{
        text-align: center;
    }

    p{
        margin-bottom: 30px;
    }

    a{
        color: $golden;
        font-weight: bold;

        &:hover{
            color: $lightBase;
        }
    }

    ul{
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: 20px;
        li{
            list-style: disc;
            margin-bottom: 10px;
        }
    }

    img{
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 4px;
    }
}